name: CI/CD Deploy to EC2

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant gradlew permission
        run: chmod +x gradlew

      - name: Build JAR
        run: ./gradlew clean build -x test

      # buildx μ„Έν… (amd64)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Hub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker Image (amd64)
        run: |
          docker buildx build \
            --platform linux/amd64 \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/myapp:latest \
            --push \
            .

      # EC2 λ°°ν¬
      - name: Deploy to EC2 (docker-compose)
        env:
          EC2_HOST: ${{ secrets.EC2_HOST }}
          EC2_KEY: ${{ secrets.EC2_SSH_KEY }}
          DOCKER_USER: ${{ secrets.DOCKERHUB_USERNAME }}
        run: |
          echo "$EC2_KEY" > key.pem
          chmod 400 key.pem

          ssh -o StrictHostKeyChecking=no -i key.pem ec2-user@$EC2_HOST << EOF
            cd payper
            docker compose pull
            docker compose down
            docker compose up -d
          EOF
      
